body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#gameContainer {
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  /* border: 4px solid #D83A2D; */
}